
.my-split {
    height: 600px;
    border: 1px solid #dcdee2;
}

.my-split-pane_top {
    text-align: left;
    height: 400px;
    overflow: auto;
    padding: 10px;
    /*background-color: #2e2e41;*/
}

.my-split-pane_bottom {
    text-align: left;
    height: 200px;
    overflow: auto;
    padding: 20px 0px 0px 10px;
}

.my-split-pane.no-padding {
    height: 500px;
    padding: 0;
}

.live {
    overflow: hidden;
}

.live > li {
    list-style: none;
    position: relative;
    padding: 0 0 0 2em;
    margin: 0 0 .5em 10px;
    -webkit-transition: .12s;
    transition: .12s;
}

.live > li > a {
    color: #61697b;
    font-weight: bold;
    text-decoration: none;
}

.live > li::before {
    position: absolute;
    content: '\2022';
    font-family: Arial;
    color: #2d8cf0;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2em;
    opacity: .5;
    line-height: .75;
    -webkit-transition: .5s;
    transition: .5s;
}

.live > li:hover {
    color: #c1ffbe;
    /*font-size: 15px;*/
}

.live > li > a:hover {
    color: #98c6f8;
}

.live > li:hover::before {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 1;
    text-shadow: 0 0 4px;
    -webkit-transition: .1s;
    transition: .1s;
}